<%= form_with(model: item_category, local: true) do |form| %>
  <% if item_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item_category.errors.count, "error") %> prohibited this item_category from being saved:</h2>

      <ul>
      <% item_category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.label :name%>
    <%= form.text_field :name,:placeholder => "Please enter category name" %>
    <br><br>
    <%= form.submit "Save Category" %>
  </div>
<% end %>
